<div class="col-md-4">
                <div class="team-card">
                <div>
                                    <img class="img-fluid" src="{{ file_url(row._entity.field_image_team.entity.fileuri) }}" alt="Said IBRAHIMI" width="522" height="283">

                </div>
                    <h5>
                        {{fields.title.content }}
                    </h5>
                    <p>
                        {{fields.field_role_team.content }}
                    </p>
                </div>
</div>
